* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
}

.header,
.footer {
    background-color: #FF714345;
    padding: 38px 0 48px;
    font-family: 'DM Sans', sans-serif;
}

.container {
    max-width: 1070px;
    margin: 0 auto;
}

.header_flex,
.footer_flex,
.about,
.subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    width: 212px;
    height: 60px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button_orange {
    background: #FF7143;
}

.button_orange:hover {
    background: #d85225;
    transition: 500ms;
}

.button_blue {
    background: #5454D4;
}

.button_blue:hover {
    background: #414195;
    transition: 500ms;
}

.button_trasporent {
    background: none;
    color: #5454D4;
    border: 1px solid #5454D4;
    margin-left: 35px;
}

.button_trasporent:hover {
    background: #e0e0eb;
    transition: 500ms;
}

.nav_li {
    display: inline-block;
}

.nav_li:not(:first-of-type) {
    margin-left: 49px;
}

.nav_link {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: -0.468947px;
    color: #696871;
    text-decoration: none;
}

.nav_link:hover {
    color: black;
    transition: 300ms;
}

.footer {
    padding: 53px 0;
}

.about_title {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 77px;
    /* or 96% */
    letter-spacing: -2.50105px;
    color: #19191B;
    max-width: 467px;
    margin-bottom: 30px;
}

.about_text {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */
    letter-spacing: -0.625263px;
    color: #696871;
    max-width: 464px;
    margin-bottom: 50px;
}

.subscribe_title {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 57px;
    /* identical to box height, or 114% */
    letter-spacing: -1.56316px;
    color: #19191B;
    max-width: 556px;
    margin-bottom: 38px;
}

.button_trasporent_subscribe {
    margin-left: 0px;
}

.button_blue_subscribe {
    margin-left: 35px;
}

.about,
.subscribe {
    margin: 105px auto;
}